.root {
    -fx-background-color:
        linear-gradient(to bottom right,
            #0f2027, #203a43, #2c5364);
}

.label
{
    -fx-text-fill: white;
}

.button
{
    -fx-background-radius: 10px;
    -fx-padding: 7px 15px;
    -fx-background-color: #2c5364;
    -fx-text-fill: white;
    -fx-scale-x: 1;
    -fx-scale-y: 1;

}

.button:hover
{
    -fx-background-color: #154458;
    -fx-scale-x: 1.1;
    -fx-scale-y: 1.1;
}

.title
{
    -fx-font-size: 18px;
}